fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.41
alembic==1.16.4
pydantic-settings==2.10.1
email-validator==2.2.0
httpx==0.28.1
python-jose[cryptography]==3.5.0
python-multipart==0.0.20
reportlab==4.4.2
bcrypt<5
pymysql==1.1.0
cryptography==41.0.3
